{:restart-websockets true, :game-info {:ok true, :instanceId 13969, :account "DFB19219456", :tickers ["RWLM"], :venues ["ASWEX"], :secondsPerTradingDay 5}, :game-state {:ok true, :done false, :id 13969, :state "open", :flash {:info "(Psst, it's Bill, from the back office.  I'm not supposed to be telling you this, but since you're still new here...)  Cash: $-6086.59 Position: 70 NAV: $488.51"}, :details {:endOfTheWorldDay 499, :tradingDay 22}}}
